@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb)); 
}

a {
  color: rgb(29 78 216);
}

.breadcrumb {
  list-style: none;
}

.breadcrumb li {
  display: inline;
  color: rgb(156 163 175);
}

.breadcrumb li:not(:first-child)::before {
  content: " / ";
}
